# Ignore virtual environments
venv/
env/

# Ignore heavy model weights and checkpoints
resume_parser_model/
*.safetensors
*.pt
*.bin
Dataset/
FINAL_resume_parser_model1/

# Ignore macOS junk
.DS_Store

# Ignore large machine learning models and vector databases
*.pkl
*.index
*.parquet

FINAL_resume_parser_model1/
FINAL_resume_scorer_model2/
FINAL_job_recommender_model3/
FINAL_skill_gap_model4/