# Ignore virtual environments
venv/
env/

# Ignore heavy model weights and checkpoints
resume_parser_model/
*.safetensors
*.pt
*.bin
Dataset/
FINAL_resume_parser_model1/

# Ignore macOS junk
.DS_Store